body {
    padding: 0px;
}

#intro {
    background-color: #502090;
    background-image: url("C:/Users/Geoff/Documents/My Web Sites/Smith_D_Project/Images/fortnite_background.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh; 
    text-align: center;
    padding-top: 80px;
}

#introTitle {
    color: white;
    font-family: 'Notable', sans-serif;
    background-color: rgba(268,268,268,0.2);
}

#navRow {
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(268,268,268,0.2);
}

#collapsibleNavbar a {
    font-family: Notable;
    color: whitesmoke;
}

#about {
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
    padding: 0px 55px;
}

#aboutTitle {
    margin-top: 8vh;
    font-family: Notable;
}

#bioRow {
    margin-top: 2vh;
    font-family: Notable;
    color: #502090;
    font-size: 16pt
}

.pic {
    height: 400px;
    width: auto;
    background-color: whitesmoke;
    border: 5px solid #502090;
}